*{
    padding: 0;
    margin: 0;
}
body{
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper {
        background: #ffffff;
        display: flex;
        max-width: 1200px;
        margin: auto;
        box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    }
.aside {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.avatar{
    width: 370px;
}
.footer {
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}