*{
    padding: 0;
    margin: 0;
}
body{
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper {
        background: #ffffff;
        display: flex;
        max-width: 1200px;
        margin: auto;
        box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    }
.aside {
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contacts {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    color: #ffffff;
}
.contacts-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;

}
.contacts-url{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}
.about {
padding-left: 90px;
    padding-right: 90px;
    padding-top: 50px;
    padding-bottom: 110px;
}
.avatar{
    width: 370px;
}
.profession {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}
.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.description {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.progects-title {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
.projects {
    margin-bottom: 55px;
}
.url-progect {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.projects-item {
    font-weight: 700;
    margin-left: 17px;
}
.skills {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}
.skills-title {
    
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;

}
.item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: white;
}
.footer {
    background: white;
    height: 100px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.20);
    background-color: #7E1A34;
}
.footer-img {
    margin-left: 230px;
}
